.calendar-container {
  height: 506px;
}
@media only screen and (min-width: 768px) {
  .calendar-container {
    height: 340px;
  }
}
@media only screen and (min-width: 1440px) {
  .calendar-container {
    max-width: 592px;
    height: 332px;
  }
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.title {
  margin: 0;
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 26px;
  }
}

.monthPicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 155px;
}

.btn-arrow {
  display: block;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: #407bff;
}

.btn-arrow:hover {
  color: #ff9e4385;
}

.btn-arrow:disabled {
  color: var(--Primery-Color-Blue, #407cff63);
}

.title-month {
  margin: 0;
  color: var(--Primery-Color-Blue, #407bff);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media only screen and (min-width: 768px) {
  .title-month {
    font-size: 16px;
  }
}

.calendar-table {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 26px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .calendar-table {
    row-gap: 20px;
    column-gap: 34px;
  }
}

@media only screen and (min-width: 1440px) {
  .calendar-table {
    row-gap: 20px;
    column-gap: 22px;
  }
}
.day-cell {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .day-cell {
    position: relative;
    height: 58px;
  }
}
.disabled-day {
  font-size: 14px;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: default;
  color: #4f4c4c43;
}

@media only screen and (min-width: 768px) {
  .disabled-day {
    font-size: 16px;
    width: 34px;
    height: 34px;
  }
}

.day {
  font-size: 14px;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: #fff;
}

.day:hover {
  box-shadow: 0px 4px 14px 0px rgba(64, 124, 255, 0.304);
}

.day:focus {
  box-shadow: 0px 4px 14px 0px rgba(64, 124, 255, 0.304);
}

@media only screen and (min-width: 768px) {
  .day {
    font-size: 16px;
    width: 34px;
    height: 34px;
  }
}

.day-incomlete {
  border: 1px solid #ff9d43;
}
.day-incomlete:hover {
  box-shadow: 0px 4px 14px 0px #ff9e4358;
}
.day-incomlete:focus {
  box-shadow: 0px 4px 14px 0px #ff9e4358;
}

.percent {
  text-align: center;
  color: #9ebbff;
  font-size: 10px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .percent {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1440px) {
  .percent {
    font-size: 12px;
  }
}

/* POP UP */

.popUp {
  width: 280px;
  height: 188px;
  padding: 24px 13px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--Primery-Color-White, #fff);
  box-shadow: 0px 4px 4px 0px rgba(64, 123, 255, 0.3);

  position: absolute;
  top: -204px;
  left: -8px;
}
.secondRow {
  top: -140px;
}
.thirdRow {
  top: -76px;
}
.forthRow {
  top: -12px;
}
.fifthRow {
  top: 52px;
}
.sixthRow {
  top: 116px;
}
.seventhRow {
  top: 180px;
}
@media only screen and (min-width: 768px) {
  .popUp {
    width: 292px;
    padding: 24px 16px;
  }
}

@media only screen and (min-width: 768px) {
  .left {
    top: -188px;
    left: 17px;
  }
}
@media only screen and (min-width: 768px) {
  .right {
    top: -188px;
    left: -275px;
  }
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-date {
  color: var(--Primery-Color-Blue, #407bff);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.popup-close {
  width: 16px;
  height: 16px;
}

.info {
  font-size: 18px;
  font-weight: 500;
  color: var(--Primery-Color-Blue, #407bff);
}

/* CHART */
.title-chart {
  display: flex;
  gap: 6px;
  align-items: flex-end;
}

@media only screen and (min-width: 768px) {
  .title-chart {
    gap: 12px;
  }
}

.btn-chart {
  border: none;
  background: none;
  color: var(--Primery-Color-Blue, #407bff);
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 30px;
}

@media only screen and (min-width: 768px) {
  .btn-chart {
    font-size: 18px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 1440pxpx) {
  .btn-chart {
    font-size: 20px;
    line-height: 20px;
  }
}

.btn-chart:hover {
  color: #ff9d43;
  /* box-shadow: 0px 4px 14px 0px #ff9e4358; */
}
