@media only screen and (min-width: 320px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  /* today */

  .today {
    display: block;
    margin-bottom: 8px;
    color: var(--primary-color-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  /* Custom input range */

  .range {
    height: 12px;
    width: 256px;
    margin-bottom: 6px;
    background-color: var(--secondary-color-blue-2);
    border-radius: 4rem;
  }

  .rangeContent {
    position: relative;
    width: 100%;
    display: grid;
    place-items: start;
  }

  .rangeSlider {
    width: 100%;
    height: 14px;
    background-color: transparent;
    border-radius: 1px;
    overflow: hidden;
  }

  .rangeSliderLine {
    width: 100%;
    height: 100%;
    background-color: transparent;
    width: 0;
  }

  .rangeInput {
    appearance: none;
    position: absolute;
    opacity: 1;
    height: 12px;
    width: 256px;
    background-color: var(--secondary-color-blue-2);
    border-radius: 4rem;
  }

  .rangeInput::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
  }

  .rangeInput::-webkit-slider-thumb:hover {
    cursor: pointer;
  }

  .rangeThumb {
    width: 14px;
    height: 14px;
    background-color: var(--primary-color-white);
    border-radius: 50%;
    border: 1px solid var(--primary-color-blue);
    position: absolute;
    top: -10%;
  }

  /* Lines and nubmers */

  .decorativeLines {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  .line {
    width: 1px;
    height: 8px;
    background-color: var(--secondary-color-blue-2);
  }

  .percentages {
    display: flex;
    position: relative;
    min-height: 20px;
    color: var(--primary-color-blue);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .number1 {
    position: absolute;
    left: -3%;
  }

  .number2 {
    position: absolute;
    left: 47%;
  }

  .number3 {
    position: absolute;
    right: -3%;
  }

  .active {
    color: var(--primary-color-blue);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  /* Button */
  .addButton {
    display: inline-flex;
    width: 280px;
    height: 36px;
    padding: 6px 76px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border-color: transparent;
    background: var(--primary-color-blue);
    box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
  }

  .addButton:hover,
  .addButton:focus {
    box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
  }

  .addButton:active {
    box-shadow: none;
  }

  .addButtonText {
    display: block;
    width: 94px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  .plusCircle {
    fill: #fff;
    stroke: #fff;
  }
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    position: relative;
    gap: 12px;
    flex-direction: row;
    height: 50px;
    justify-items: center;
  }

  .panel {
    display: block;
    width: 356px;
    height: 50px;
    margin-left: 10px;
  }

  .today {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  /* Custom input range */

  .range {
    height: 8px;
    width: 325px;
    margin-bottom: 4px;
  }

  .rangeInput {
    height: 8px;
    width: 325px;
    margin-bottom: 4px;
  }

  .rangeSlider {
    height: 8px;
  }

  .rangeThumb {
    top: -40%;
  }

  /* Lines and nubmers */

  .decorativeLines {
    width: 325px;
  }

  .line {
    width: 1px;
    height: 8px;
    background: var(--secondary-color-blue-2);
  }

  .percentages {
    width: 325px;
  }

  .number3 {
    position: absolute;
    right: -5%;
  }

  /* Button */
  .addButton {
    position: absolute;
    top: -35%;
    left: 52%;
    width: 336px;
    height: 44px;
    padding: 10px 104px;
  }

  .addButtonText {
    font-size: 18px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .mainContainer {
    display: block;
    height: 50px;
  }

  .panel {
    display: block;
    width: 391px;
  }

  /* Custom input range */

  .range {
    width: 360px;
  }

  .rangeInput {
    width: 360px;
  }

  /* Lines and nubmers */

  .decorativeLines {
    width: 360px;
  }

  .line {
    width: 1px;
    height: 8px;
    background: var(--secondary-color-blue-2);
  }

  .percentages {
    width: 360px;
  }

  .number3 {
    position: absolute;
    right: -5%;
  }

  /* Button */
  .addButton {
    top: -35%;
    left: 414px;
    width: 178px;
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .addButtonText {
    font-size: 17px;
  }
}

/* Movable value */

.rangeValue {
  width: 22px;
  height: 22px;
  background: var(--secondary-color-blue-3);
  color: var(--primary-color-white);
  font-size: 9px;
  font-weight: 400;
  line-height: 16px;
  position: absolute;
  margin: 0 auto;
  top: 20px;
  left: -2px;

  border-radius: 2rem 2rem 2rem 0.25rem;
  transform: rotate(132deg);
  display: grid;
  place-items: center;

  transition: all 0.7s ease;
}

.rangeValueNumber {
  transform: rotate(228deg);
}
