
.container {
  display: block;
  padding: 24px 0 0 0;
  min-height: 605px;
  }



  @media screen and (min-width: 768px) {
    .container {
      padding: 40px 0 0 0;
      min-height: 704px;
    }

   
  }
  @media screen and (min-width: 1440px) {
    .container {
      padding: 49px 0 0 0;
      min-height: 740px;
    }

  }