.container {
  display: block;
  padding: 24px 0 0 0;
  min-height: 605px;

  margin: 0 auto;
  max-width: 320px;
  background-image: url('../../images/mobile-background-element-sign-in.svg'),
    url('../../images/mobile-bottle-sign-in.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: center, bottom;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px 0 0 0;
    min-height: 704px;

    max-width: 768px;
    background-image: url('../../images/mobile-background-element-sign-in.svg'),
      url('../../images/tablet-bottle-sign-in.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top, right;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 49px 0 0 0;
    min-height: 740px;

    max-width: 1440px;
    background-image: url('../../images/mobile-background-element-sign-in.svg'),
      url('../../images/desktop-bottle-sign-in.svg');
    background-repeat: repeat, no-repeat;
    background-position: center center, left;
  }
}
