.radioButtons {
  display: flex;
  align-items: center;

  gap: 24px;
}

.radiobutton {
  display: none;
}

.labelName {
  font-size: 16px;
  line-height: 1.25;
  margin-left: 22px;
}

.radioDotLeft {
  position: absolute;
  top: 255px;
  left: 12px;
  width: 14px;
  height: 14px;
}

.radioDotRight {
  position: absolute;
  top: 255px;
  left: 113px;
  width: 14px;
  height: 14px;
}

.customRadioButtonLeft {
  position: absolute;
  top: 255px;
  left: 12px;

  width: 14px;
  height: 14px;
}

.customRadioButtonRight {
  position: absolute;
  top: 255px;
  left: 113px;

  width: 14px;
  height: 14px;
}

@media only screen and (min-width: 768px) {
  .customRadioButtonLeft,
  .radioDotLeft {
    left: 24px;
  }

  .customRadioButtonRight,
  .radioDotRight {
    left: 125px;
  }
}
