.entry-item {
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  height: 26px;
  border-bottom: 1px solid #d7e3ff;
}
.entry-item:last-child{
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .entry-item {
    padding: 12px 0px;
    height: 36px;
  }
}

.glass {
  width: 26px;
  height: 26px;
}

@media only screen and (min-width: 768px) {
    .glass {
        width: 36px;
        height: 36px;
      }
}

.entry-info{
  display: flex;
  gap: 16px;
  align-items: center;
}

.amount{
  color: var(--Primery-Color-Blue, #407BFF);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 68px;
  text-align: center;
}

.time{
  color: var(--Primery-Color-Black, #2F2F2F);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px
}

.icons{
    display: flex;
    gap: 18px;
    width: 50px;
}

.edit {
  display: block;
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  padding: 0px;
}
.edit:hover{
  stroke: #FF9D43;
}
.edit:focus{
  stroke: #FF9D43;
}
.delete {
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  padding: 0px;
}
.delete:hover{
  stroke: #ea1b1b;
}
.delete:focus{
  stroke: #ea1b1b;
}
