.title{
    margin-top: 0;
    margin-bottom: 16px;
    
}
@media only screen and (min-width: 768px) {
   .title{
    font-size: 26px;
  }
}
.entryList{
    padding-bottom: 24px;
}

.btn-add{
    padding: 0px;
    margin-top: 12px;
height: 20px;
background-color: transparent;
border: none;
color: var(--Primery-Color-Blue, #407BFF);
font-size: 16px;
font-weight: 500;
line-height: 24px;
display: flex;
align-items: center;
gap: 8px;
}

@media only screen and (min-width: 768px) {
    .btn-add{
        font-size: 18px;  
    }
}

.plus{
    width: 16px;
    height: 16px;
stroke: var(--Primery-Color-Blue, #407BFF);
}

@media only screen and (min-width: 768px) {
   .plus{
    width: 24px;
    height: 24px;
  }
}