.entry-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  height: 26px;
  border-bottom: 1px solid #d7e3ff;
}

@media only screen and (min-width: 768px) {
  .entry-item {
    padding: 12px 0px;
    height: 36px;
  }
}

.glass {
  width: 26px;
  height: 26px;
}

@media only screen and (min-width: 768px) {
    .glass {
        width: 36px;
        height: 36px;
      }
}

.entry-info{
  display: flex;
  gap: 16px;
  align-items: center;
}

.amount{
  color: var(--Primery-Color-Blue, #407BFF);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.time{
  color: var(--Primery-Color-Black, #2F2F2F);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px
}

.icons{
    display: flex;
    gap: 18px;
}

.edit {
  width: 16px;
  height: 16px;
  stroke: #9ebbff;
}

.delete {
  width: 16px;
  height: 16px;
}
