.backdrop {
  background-color: var(--backdrop-color-black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.modal {
  position: absolute;
  min-width: 280px;
  min-height: 100px;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  padding: 32px 24px;
  background-color: var(--primary-color-white);
  border-radius: 8px;

  @media only screen and (max-width: 767px) {
    padding: 32px 12px;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 704px;
    position: absolute;
    top: 5%;
    left: 50%;
  }
}

@media only screen and (min-width: 1440px) {
  .modal {
    top: 50%;
    width: 592px;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 1440px) {
  .settingModal {
    width: 1008px;
  }
}

.btnClose {
  position: absolute;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  top: 36px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;

  :hover {
    color: var(--primary-color-white);
    /* border: 1px solid #fff; */
  }

  @media only screen and (max-width: 767px) {
    right: 12px;
  }
}

.title {
  height: 32px;
  color: var(--primary-color-black);
  font-size: 26px;
  font-weight: 500;
  line-height: 1.23;
}

.content {
  margin-top: 24px;
}
