* {
  box-sizing: border-box;
}

@media only screen and (min-width: 320px) {
  .container {
    margin: 0 auto;
    max-width: 320px;
    padding: 0px 20px;
    height: 100vh;
    background: url('../../images/mobile-background-element-sign-in.svg') left
        0% top -10% / 320px 844px no-repeat,
      url('../../images/mobile-bottle-sign-in.svg') center bottom 5% / 280px
        210px no-repeat;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px 32px 156px 32px;
    background: url('../../images/tablet-bottle-sign-in.svg') left 0% top 40% /
      768px 680px no-repeat;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 148px 198px 232px 198px;
    background: url('../../images/desktop-background-element-main-page.svg ')
        left 20% top 0% / 1404px 582px no-repeat,
      url('../../images/desktop-bottle-sign-in.svg') left 0% top 10% / 916px
        680px no-repeat;
  }
}

