.backdrop {
    background-color: var(--backdrop-color-loader);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }