/* Text style/////////////////////////////////////////// */

.headlines {
  display: block;
  max-width: 240px;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .headlines {
    max-width: 100%;
  }
}

.headlineEdit {
  display: block;
  max-width: 240px;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.paragraphs {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 12px;
}

/*Counter/////////////////////////////////////////// */

.counterLayout {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 24px;
}

.counterButtons {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #9ebbff;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(64, 123, 255, 0.2);
}

.counterButtons:active {
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
}

.valuePlusMinus {
  display: flex;
  padding: 6px 10px;
  min-width: 92px;
  height: 36px;

  max-width: 110px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #d7e3ff;

  color: #407bff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.PlusMinusInput {
  color: #407bff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.hidden {
  position: absolute;
  top: 0%;
  bottom: 0%;
  width: 0px;
  height: 0px;
  opacity: 0;
}

/* Input style/////////////////////////////////////////// */

.inputStyle {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  display: flex;
  width: 120px;
  height: 44px;
  margin-bottom: 24px;
  padding: 12px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #d7e3ff;
  color: #407bff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .inputStyle {
    width: 100%;
  }
}

/* Button Save and bottom/////////////////////////////////////////// */

.saveAreaLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .saveAreaLayout {
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 24px;
  }
}

.finalValue {
  color: #407bff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.saveButton {
  display: flex;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 10px;
  background: #407bff;
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);

  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.saveButton:hover,
.saveButton:focus {
  cursor: url('../../images/icons/hover-cursor.svg'), auto;
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
}

.saveButton:active {
  cursor: url('../../images/icons/focus-cursor.svg'), auto;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .saveButton {
    width: 160px;
    height: 44px;
    font-size: 18px;
    line-height: 24px;
  }
}

/* PreviousGlassDiv/////////////////////////////////////////// */

.editContentDiv {
  padding-top: 24px;
  margin-bottom: 16px;
}

.previousGlassDiv {
  display: flex;
  width: 256px;
  margin-bottom: 24px;

  height: 52px;
  padding: 8px 24px;
  align-items: center;
  border-radius: 10px;
  background: var(--Secondary-color-2, #ecf2ff);
}

@media only screen and (min-width: 768px) {
  .previousGlassDiv {
    width: 254px;
  }
}

.glass {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.editNumber {
  color: #407bff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-right: 16px;
}
.editTime {
  color: #2f2f2f;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
