@media only screen and (min-width: 320px) {
  .container {
    margin: 0 auto;

    max-width: 320px;
    padding: 8px 20px;
    background-image: url('../../images/mobile-background-element-home-screen.svg');
    background-position: left 70% top 165%;
    background-repeat: no-repeat;
    background-size: 320px 1328px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 16px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 12px 112px;
  }
}
