.footer {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content {
  padding: 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  height: 54px;
  background-color: var(--secondary-color-blue-1);
}

.footer-text {
  display: block;

  color: var(--primary-color-blue);
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.footer-span {
  display: block;
  cursor: pointer;
  color: var(--primary-color-blue);
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-span:hover,
.footer-span:focus {
  color: var(--secondary-color-orange);
  transform: scale(1.2);
}

.footer-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.footerIcon {
  width: 16px;
  height: 16px;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.swipper-container {
  width: 410px;
  display: flex;
  justify-content: flex-start;
  gap: 55px;
  margin: 0 auto;
}

.swipper-info-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.swipper-info-role {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  margin-bottom: 16px;
}

.swipper-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swipper-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

@media only screen and (max-width: 767px) {
  .showOnSmallScreen {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    width: 100%;
  }

  .content {
    padding: 0 36px;
  }

  .footer-text {
    font-size: 14px;
  }

  .footer-span {
    font-size: 14px;
  }

  .footerIcon {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    width: 100%;
  }

  .content {
    padding: 0 112px;
  }

  .footer-text {
    font-size: 14px;
  }

  .footer-span {
    font-size: 14px;
  }

  .footerIcon {
    width: 24px;
    height: 24px;
  }
}
