@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Welcome page background */
@media only screen and (min-width: 320px) {
  .body-welcome {
    background: url('images/mobile-background-main-page.svg') center bottom /
      cover no-repeat;
  }
}

@media only screen and (min-width: 768px) {
  .body-welcome {
    background: url('images/tablet-background-main-page.svg') left bottom /
      cover no-repeat;
  }
}

@media only screen and (min-width: 1440px) {
  .body-welcome {
    background: url('images/desktop-background-main-page.svg') bottom / contain
      no-repeat;
  }
}
