/* SigninPage.module.css */
.hidden {
  opacity: 0;
}

.container {
  display: block;
  padding: 24px 0 0 0;
  min-height: 605px;
}

.mainstr {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; */
}

.form {
  max-width: 280px;
}

/* Tablet and > */
@media screen and (min-width: 768px) {
  .container {
    padding: 40px 0 0 0;
    min-height: 704px;
  }

  .form {
    max-width: 680px;
  }

  .mainstr {
    justify-content: flex-start;
  }
}

/* Desktop and > */
@media screen and (min-width: 1440px) {
  .container {
    padding: 49px 0 0 0;
    min-height: 740px;
  }

  .form {
    max-width: 1216px;
    margin-top: 113px;
  }

  .mainstr {
    display: grid;
    grid-template-columns: 742px 384px 90px;
    justify-content: flex-end;
  }
}

.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 16px;
  /* margin: 0 auto; */
  /* padding: 10px; */
  gap: 16px;
}

.formTitle {
  /* padding-left: 10px; */
  font-size: 26px;
  margin-bottom: 16px;
}

.formLabel {
  margin-bottom: 8px;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  padding: 12px 10px;
  width: 280px;
  border: 2px solid var(--secondary-color-blue-3);
  border-radius: 6px;
  outline: none;
}

/* Tablet and > */
@media screen and (min-width: 768px) {
  .input {
    width: 336px;
  }
}

/* Desktop and > */
@media screen and (min-width: 1440px) {
  .input {
    width: 384px;
  }
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  width: 280px;
  border: 2px solid var(--secondary-color-blue-3);
  border-radius: 6px;
  outline: none;
}

/* Tablet and > */
@media screen and (min-width: 768px) {
  .inputBox {
    width: 336px;
  }
}

/* Desktop and > */
@media screen and (min-width: 1440px) {
  .inputBox {
    width: 384px;
  }
}

.iconeye {
  color: var(--secondary-color-blue-3);
}

.inputpassword {
  outline: none;
  border: none;
  padding: 0;
  width: 280px;
}

/* Tablet and > */
@media screen and (min-width: 768px) {
  .inputpassword {
    width: 336px;
  }
}

/* Desktop and > */
@media screen and (min-width: 1440px) {
  .inputpassword {
    width: 384px;
  }
}

.input::placeholder {
  color: var(--secondary-color-blue-3);
}

.inputpassword::placeholder {
  color: var(--secondary-color-blue-3);
}

.button {
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white);
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 280px;
  height: 36px;
}

/* Tablet and > */
@media screen and (min-width: 768px) {
  .button {
    width: 336px;
    height: 44px;
  }
}

/* Desktop and > */
@media screen and (min-width: 1440px) {
  .button {
    width: 384px;
  }
}

.errormessage {
  color: var(--secondary-color-red);
  font-size: 14px;
}

.errorBorder {
  border: 2px solid var(--secondary-color-red);
}

.errorInput {
  color: var(--secondary-color-red);
}

.errorInput::placeholder {
  color: var(--secondary-color-red);
}
