/* SigninPage.module.css */

.hidden {
  opacity: 0;
}

.container {
  display: block;
  padding: 24px 0 0 0;
  min-height: 605px;
}

.mainstr {
  display: flex;
  justify-content: center;
}


/* Tablet and > */
@media screen and (min-width: 768px) {
  .container {
    padding: 40px 0 0 0;
    min-height: 704px;
  }

  .mainstr {
    justify-content: flex-start;
  }
}

/* Desktop and > */
@media screen and (min-width: 1440px) {
  .container {
    padding: 49px 0 0 0;
    min-height: 740px;
  }

  .mainstr {
    display: grid;
    grid-template-columns: 742px 384px 90px;
    justify-content: flex-end;
  }
}