.mainstr {
  display: flex;
  justify-content: center;
}

.form {
  max-width: 280px;
}

@media screen and (min-width: 768px) {
  .form {
    max-width: 680px;
  }

  .mainstr {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .mainstr {
    justify-content: flex-end;
  }
}

.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 20px;
}


.formTitle {
  font-size: 26px;
  margin-bottom: 16px;
}

.formLabel {
  margin-bottom: 8px;
}

.stack {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  font-size: 16px;
  color: var(--primary-color-blue);
  padding: 12px 10px;
  width: 280px;
  border: 1px solid var(--secondary-color-blue-3);
  border-radius: 6px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .input {
    width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .input {
    width: 384px;
  }
}

.button {
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white);
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 280px;
  height: 36px;
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
}

.button:hover,
.button:focus {
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
}

.button:active {
  background: var(--Primery-Color-Blue, #407bff);
}

@media screen and (min-width: 768px) {
  .button {
    width: 336px;
    height: 44px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .button {
    width: 384px;
    height: 44px;

    font-size: 18px;
    line-height: 24px;
  }
}

.errormessage {
  position: absolute;
  bottom: -18px;
  left: 0;
  color: var(--secondary-color-red);
  font-size: 14px;

}

.errorBorder {
  border: 1px solid var(--secondary-color-red);
}

.errorInput {
  color: var(--secondary-color-red);
}

.errorInput::placeholder {
  color: var(--secondary-color-red);
}

.signin {
  color: var(--primary-color-blue);
  text-decoration-line: none;
  display: block;
  margin-right: auto;
}
